@font-face {
    font-family: "Fragment Mono";
    src: url("./FragmentMono-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: "Fragment Mono, sans-serif";
}

