@font-face {
    font-family: "Fragment Mono";
    src: url("./FragmentMono-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: "Fragment Mono, sans-serif";
}
.container {
    max-width: 90%; !important
    margin: 3%; !important
}
.iframe  {
    height: 1000px; !important
    width: 1800px; !important
    max-width: 90%; !important
    max-height:90%; !important
}
